# A quick start guide to the `Point` and `Sample` classes

## Abstract

In this example, we present the `Point` and `Sample` classes, two fundamental objects in the library. We present the principles behind these classes and the way to create and use these objects. We show how to extract a row or a column with the slicing operator. We show how these objects interacts with Python variables and with the `numpy` module.

## Introduction

Two fundamental objects in the library are:

* `Point`: a multidimensional point in $D$ dimensions ($\in \mathbb{R}^D$) ;
* `Sample`: a multivariate sample made of $N$ points in $D$ dimensions.

In [1]:
import openturns as ot

## The `Point` class

In this section, we see how to: 

* create a point in $\mathbb{R}^3$, 
* access its components, 
* update its components.

By default, points are filled with zeros.

In [2]:
p = ot.Point(3)
p

class=Point name=Unnamed dimension=3 values=[0,0,0]

The following statement returns the value of the second component (with index 1). Python beginners should remember that Python indices start at zero.

In [3]:
p[1]

0.0

The following statements sets the second component.

In [4]:
p[1] = 2
p

class=Point name=Unnamed dimension=3 values=[0,2,0]

In [5]:
p.getDimension ()

3

## The `Sample` class

The `Sample` class implements a multivariate sample made of $N$ points in $\mathbb{R}^D$.

* $D$ is the *dimension* of the sample, 
* $N$ is the *size* of the sample. 

A `Sample` can be seen as an array of with $N$ rows and $D$ columns.

*Remark.* The `ProcessSample` class allows to manage a sample of stochastic processes.

The script below creates a `Sample` with size $N=5$ and dimension $D=3$.

In [6]:
data = ot.Sample(5, 3)
data

class=Sample name=Unnamed implementation=class=SampleImplementation name=Unnamed size=5 dimension=3 data=[[0,0,0],[0,0,0],[0,0,0],[0,0,0],[0,0,0]]

In [7]:
data.getSize()

5

In [8]:
data.getDimension()

3

The following statement sets the third component (with index 2) of the fourth point (with index 3) in the `Sample`.

In [9]:
data [3, 2] = 32
data

class=Sample name=Unnamed implementation=class=SampleImplementation name=Unnamed size=5 dimension=3 data=[[0,0,0],[0,0,0],[0,0,0],[0,0,32],[0,0,0]]

## Get a row or a column of a `Sample`

As with `numpy` arrays, we can extract a row or a column with the `:` slicing operator. As a reminder for Python beginners, *slicing* is the fact of extracting a part of an array with one single statement; this avoids `for` loops and improves performance and readability.

In [10]:
row = data [3, :]
row

class=Point name=Unnamed dimension=3 values=[0,0,32]

In [11]:
type ( row )

openturns.typ.Point

In [12]:
column = data [:, 2]
column

class=Sample name=Unnamed implementation=class=SampleImplementation name=Unnamed size=5 dimension=1 description=[v2] data=[[0],[0],[0],[32],[0]]

In [13]:
type ( column )

openturns.typ.Sample

We see that:

* the `row` is a `Point`,
* the `column` is a `Sample`.

This is consistent with a fact that, in a dimension $D$ `Sample`, a row is a $D$-dimensional `Point`.

The following statement extracts several columns (with indices 0 and 2) and creates a new `Sample`.

In [14]:
data.getMarginal ([0 , 2])

class=Sample name=Unnamed implementation=class=SampleImplementation name=Unnamed size=5 dimension=2 data=[[0,0],[0,0],[0,0],[0,32],[0,0]]

## Create a `Point` or a `Sample` from a Python list

The following statement creates a `Point` from a Python list.

In [15]:
p1 = ot.Point ([2 , 3])
p1

class=Point name=Unnamed dimension=2 values=[2,3]

In [16]:
p2 = ot.Point(range(2))
p2

class=Point name=Unnamed dimension=2 values=[0,1]

The first useful *Pythonism* that we will review is the *list comprehension*. This allows to create a list from a `for` loop. This kind of statements is often used in the the examples, so that they can be as short as possible.

In the following statement, we create a point by iterating over the components of a `Point`.

In [17]:
p3 = ot.Point ([i*i for i in p1])
p3

class=Point name=Unnamed dimension=2 values=[4,9]

The second useful *Pythonism* is the repetition with the `*` operator.

The following statements creates a list with three 5s.

In [18]:
p4 = [5] * 3
p4

[5, 5, 5]

We can also create a `Sample` from a list of `Point`s.

In [19]:
sample = ot.Sample ([p1 , p2 , p3 ])
sample

class=Sample name=Unnamed implementation=class=SampleImplementation name=Unnamed size=3 dimension=2 data=[[2,3],[0,1],[4,9]]

We can loop over the points in a sample, using a list comprehension. In the following example, we compute the euclidian norm of the points in the previous sample.

In [20]:
[point.norm() for point in sample]

[3.605551275463989, 1.0, 9.848857801796104]

We can also create a `Sample` based on a `Point`, repeated three times.

In [21]:
sample = ot.Sample ([p4] * 3)
sample

class=Sample name=Unnamed implementation=class=SampleImplementation name=Unnamed size=3 dimension=3 data=[[5,5,5],[5,5,5],[5,5,5]]

Perhaps the simplest way to create a non trivial `Sample` is using a nested list of floats.

In [22]:
sample = ot.Sample ([[0 , 1], [2, 3], [4, 5]])
sample

class=Sample name=Unnamed implementation=class=SampleImplementation name=Unnamed size=3 dimension=2 data=[[0,1],[2,3],[4,5]]

## Interactions with Numpy

The Python classes defined in Python modules are unknown to OpenTURNS and hence cannot be used by the library. This is why it is useful to know how to convert to and from more basic Python variable types, especially Numpy arrays.

The following statement creates a `Sample` and converts it into a bidimensional Numpy `array`.

In [23]:
import numpy as np
sample = ot.Sample (5, 3)
array = np.array (sample)
array

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [24]:
type(array)

numpy.ndarray

In the reverse sens, the following script creates a Numpy `array`, then converts it into a `Sample`.

In [25]:
array = 3.14 * np.ones((5 , 3))
sample = ot.Sample ( array )
sample

class=Sample name=Unnamed implementation=class=SampleImplementation name=Unnamed size=5 dimension=3 data=[[3.14,3.14,3.14],[3.14,3.14,3.14],[3.14,3.14,3.14],[3.14,3.14,3.14],[3.14,3.14,3.14]]

In [26]:
sample.getSize()

5

In [27]:
sample.getDimension()

3

There is an ambiguous situation: create a `Sample` based on 5 values. Indeed, is it:

* a sample with size 5 in 1 dimension or
* a sample with size 1 in 5 dimensions?

In order to solve the case, we can use the second input argument of the `Sample` constructor, which specifies the dimension.

The following statement creates an array containing 5 values from 0 to 1.

In [28]:
u = np.linspace (0, 1, 5)
u

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

Choice A: we create a `Sample` with size 5 in 1 dimension.

In [29]:
sample = ot.Sample (u, 1)
sample

class=Sample name=Unnamed implementation=class=SampleImplementation name=Unnamed size=5 dimension=1 data=[[0],[0.25],[0.5],[0.75],[1]]

Choice B: we create a `Sample` with size 1 in 5 dimensions.

In [30]:
sample = ot.Sample (u, 5)
sample

class=Sample name=Unnamed implementation=class=SampleImplementation name=Unnamed size=1 dimension=5 data=[[0,0.25,0.5,0.75,1]]

If we do not set the optional `size` parameter, the library cannot solve the case and an exception is generated:

```
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-48-8c4ed687c6a9> in <module>()
      1 # Generates an expected exception
----> 2 sample = ot.Sample (u)
[...]
TypeError: InvalidArgumentException : Invalid array dimension: 1
```

In [31]:
# Generates an expected exception
# sample = ot.Sample (u)